@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">@Model.Exception.Message</h2><br />
<p>Error occured in : @Model.ControllerName ( @Model.ActionName )</p>

