@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>


<h4 class="text-danger">
    @Model.Exception.Message
</h4>
<br />
<p>
    <span class="lead" >
        Error occured in : (
        <span style="color:#000080;">
            @Model.ActionName
        </span> )
    </span>
</p>
